*
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  width: 100%;
  height: 100%;
  position: fixed;
  background:rgb(75, 75, 75);
}

.header
{
  
  border: 2px black solid;
  width: 100%;
  height: 90px;
  background-color: black;


}
.headimage
{
  position: fixed;
  margin-left:5px ;
  width: 85px;
  height: 90px;
}
.font
{
  position: fixed;
  margin-top: 15px;
  margin-left: 43%;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background: linear-gradient(120deg,red,blue,blueviolet,white);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

}
.footer{
  border: 2px black solid;
  width: 100%;

  height: 75px;
  background-color: black;
  position: fixed;
  margin-top: 581px;

}
.foot
{
 padding-top: 26px;
  color: white;
  text-align: center;
  justify-content: center;
}


.meme-image1{
  position: fixed;
  top:30%;
  left:22%;
  width: 275px;
  height: 275px;
  border-radius: 10px;
  border: none;

}
.meme-image2{
  position: fixed;
  top:30%;
  left:45%;
  width: 275px;
  height: 275px;
  border-radius: 10px;
  border: none;

}

.meme-image3{
  position: fixed;
  top:30%;
  left:69%;
  width: 275px;
  height: 275px;
  border-radius: 10px;
  border: none;

}

.meme-btn{
  position: absolute;
  top:22%;
  right: 25%;
  width: 77px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: black;
  border: none;
}

.down{
  border: 2px black solid;
  width: 12%;
  height: 50px;
  position: fixed;
  top:75%;
  left:743px;
  border-radius: 30px;
  border: none;
  background-color: black;
}


.search
{
  position: absolute;
  top:20%;
  left: 10%;
  width: 27px;
}


.leftbar{
  border: 2px black solid;
  width: 17%;
  height: 500px;
  position: fixed;
  top:17.5%;
  left:20px;
  border-radius: 10px;
  background-color: black;
}
.admin
{
  font-size: 20px;
  padding-left: 10px;
  padding-top: 5px;
  color: white;

}
.name
{
  position: absolute;
  top:60%;
  left: 18%;
  font-size: 20px;
  color: white;
}
.photo
{
    position: absolute;
    top:30%;
    left: 31%;
    width: 90px;
}

.login2
{
  position: absolute;
  top:12%;
  left: 17%;
  width: 170px;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
}
.login1
{
  position: absolute;
  top:80%;
  left: 17%;
  width: 170px;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
}

.link
{
  position: absolute;
  top:80%;
  left: 17%;

}

.rightbar
{
  
    border: 2px black solid;
    width: 7.5%;
    height: 500px;
    position: fixed;
    top:17.5%;
    right:20px;
    border-radius: 10px;
    background-color: black;
  }


.logo1{
  
    position: absolute;
    top:5%;
    right: 16%;
    width: 77px;
}

.logo2
{
  position: absolute;
  top:40%;
  right: 16%;

  width: 77px;
}

.logo3
{
  position: absolute;
  top:75%;
  right: 22%;
  width: 65px;

}
